.zvezda{
    color: red;
}
.bigBox{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}
.bigBox input{
    width: 702px;
    height: 148px;
    border-radius: 15px;
    border: 1px solid #eaeaea;
    padding-left:18px ;
    padding-top:0 ;
}