.zvezda{
    color: red;
}
.miniBox{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}
.miniBox input{
    width: 341px;
    height: 56px;
    border-radius: 15px;
    border: 1px solid #eaeaea;
    padding-left:18px ;
}